.container{
    height: 2000px;
}

.first{
    position:fixed;
    width:22%;
    height:40%;
    border:20px solid gray;
    top:50%;
    left:50%;
    border-radius: 50%;
    transform:translate(-50%, -50%);
    z-index:11;    
}

.second{
    position:fixed;
    width:88%;
    height:88%;
    border:20px solid red;
    top:50%;
    left:50%;
    border-radius: 50%;
    transform:translate(-50%, -50%);
    z-index:11;    
}

.circle{
    position: relative;
    width: 19.3vw;
    height: 35.1vh;
    border-radius:50%;
    left: 40.2%;
}

.thread{    
    top: 13%;
    background-color: purple;
}

.prase1{
    position: absolute;
    top: 40%;
    left: 31%;
    font-size: 55px;
}

.forth{
    top: 27.3%;
    background-color: lightblue;

}

.prase2{
    position: absolute;
    text-align: right;
    top: 40%;
    font-size: 55px;
}

.fifth{
    top: 43.6%;
    background-color:lightcoral;

}

.prase3{
    position: absolute;
    text-align: center;
    top: 19%;
    font-size: 50px;
}

