* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.box{
    position: relative;
    height: 50%;
    width: 50%;
}


.red{
    position: absolute;
    background-color: red;
    
}

.green{
    position: absolute;
    right: 0;
    background-color: green;
}
.orange{
    position: absolute;
    bottom: 0;
    background-color: orange;
}
.pink{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: pink;
}

.box::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 55%;
    background: white;
    border-radius: 50%;
    top: 25%;
    left: 30%;
}

.box::after {
    position: absolute;
    content: "";
    width: 14%;
    height: 25%;
    background: red;
    top: 40% ;
    left:38%;
}

.center-box {
    position: absolute;
    width: 20%;
    height: 35%;
    background: white;
    top: 32%;
    left: 40%;
}

.center-circle {
    position: absolute;
    width: 50%;
    height: 50%;
    background: red;
    border-radius: 50%;
    top: 25%;
    left: 25%;
}

.top-left{
    position: absolute;
    content: "";
    height: 20%;
    width: 10%;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
}
.top-right{
    position: absolute;
    content: "";
    height: 20%;
    width: 10%;
    background-color: white;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
}

.bottom-left{
    position: absolute;
    content: "";
    height: 20%;
    width: 10%;
    background-color: white;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100%;
}

.bottom-right{
    position: absolute;
    content: "";
    height: 20%;
    width: 10%;
    background-color: white;
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;
}

.red-top-right{
    position: absolute;
    content: "";
    height: 13%;
    width: 8%;
    background-color: white;
    top: 0;
    right: 50%;
    border-bottom-left-radius: 100%;
}

.green-top-left{
    position: absolute;
    content: "";
    height:13%;
    width: 8%;
    background-color: white;
    top: 0;
    left: 50%;
    border-bottom-right-radius: 100%;
}

.orange-bottom-right{
    position: absolute;
    content: "";
    height: 13%;
    width: 8%;
    background-color: white;
    bottom: 0;
    right: 50%;
    border-top-left-radius: 100%;
}

.pink-bottom-left{
    position: absolute;
    content: "";
    height:13%;
    width: 8%;
    background-color: white;
    bottom: 0;
    left: 50%;
    border-top-right-radius: 100%;
}

