.container {
    height:810px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;   
}

.container div {
  background-color: white;
  border: 1px solid black;
}
#one{ grid-column: 1 / 3; grid-row: 1 / 2; background: #e60000; }
#two{background: #008000; }
#three{ grid-column: 4 / 5; grid-row: 1 / 4; background: #ff6600; }

#four{background: purple;}
#five{background: rgb(184, 22, 149);}
#six{background-color: blue;}

#seven{background: brown;}
#eight{grid-column: 2/4; background-color: rgb(69, 3, 88);}