*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    position:relative;
    height:100vh;
}

.header{
    position:sticky;
    top:0;
    height:70px;
    color:white;
    font-size:22px;
    padding:20px;
    z-index:10;
}

.body{
    position:relative;
    height:calc(100vh - 70px);
}

.body h1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:100px;
}

.first{ background-color: red; }
.second{ background-color: rgb(9, 9, 138); }
.third{ background-color: rgb(46, 42, 42); }
.forth{background-color: rgb(160, 7, 7);}

.white{ background-color: white;}
.blue{ background-color: rgb(158, 209, 226); }
.gray{background-color: rgb(68, 63, 63); }
.red{background-color: red;}