*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:white;
}

.container{
    width:1200px;
    height: 700px;
    margin:20px auto;
    position:relative;
    background:white;
    border:1px solid black;
    border-bottom: 0;
}

/* Header */
.header{
    position:relative;
    height:70px;
    background:white;
    border-bottom:3px solid black;
}

.logo{
    position:absolute;
    left:20px;
    top:0;    
}

.top-nav{
    position:absolute;
    right:20px;
    top:22px;
}

.top-nav a{
    text-decoration:none;
    margin-left:20px;
    color:black;
}

/* Sidebar */
.sidebar{
    width:200px;
    height: 83.3%;
    background:rgb(87, 2, 87);
    position:relative;
    float:left;
    padding:1 px;
}

.sidebar a{
    display:block;
    padding:15px 12px;
    color:white;
    text-decoration:none;
}


/* Content */
.content{
    margin-left:200px;
    padding:10px;
    position:relative;
}

/* Image Row */
.image-row{
    position:relative;
    width:100%;
    margin-bottom:20px;
}

.box{
    width:33%;
    height:180px;
    border:2px solid green;
    display:inline-block;
    position:relative;
    text-align:center;
}

.box:last-child{
    margin-right:0;
}

/* Text */
.text-content p{
    margin-bottom:16px;
    line-height:1.1;
    color:black;
}

/* Footer */
.footer{
    clear:both;
    text-align:center;
    padding:15px;
    background:#8c8c8c;
    color:white;
    font-size:14px;
}
